{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/pokemon/pokemon-detail.css' %}"
/>
<script defer src="{% static 'js/pokemon-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="pokemon-container">
  <div class="pokemon-img">
    <img 
      src="{% static 'images/pikachucap.png' %}" 
      alt="Pikachu in a Cap"
    >
  </div>
  <div class="pokemon-detail">
    <h1>{{ pokemon.name }}</h1>
    {% if pokemon.age > 0 %}
      <h2>A {{ pokemon.age }} year old {{ pokemon.breed }}</h2>
    {% else %}
      <h2>A {{ pokemon.breed }} baby.</h2>
    {% endif %}
    <p>{{ pokemon.description }}</p>
    <div class="pokemon-actions">
      <a href="{% url 'pokemon-update' pokemon.id %}" class="btn warn">Edit</a>
      <a href="{% url 'pokemon-delete' pokemon.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="feedings-items-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      <img 
        src="{% static 'images/nanab-berry.png' %}" 
        alt="Nanab Berry"
      />
      <img 
        src="{% static 'images/razz-berry.png' %}"
        alt="Razz Berry"
      />
      <img 
        src="{% static 'images/pinap-berry.png' %}" 
        alt="Pinap Berry"
      />
    </div>
    <h3>Add a Feeding</h3>
    <form
      action="{% url 'add-feeding' pokemon.id %}" 
      method="post" 
      class="subsection-content"
			autocomplete="off"
    >
      {% if pokemon.fed_for_today %}
        <p class="fed">{{pokemon.name}}'s friendship has increased!</p>
      {% else %}
        <p class="unfed">{{pokemon.name}} might be hungry!</p>
      {% endif %}
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
    <h3>Past Feedings</h3>
    {% if pokemon.feeding_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Meal</th></tr>
        </thead>
        <tbody>
          {% for feeding in pokemon.feeding_set.all %}
            <tr>
              <td>{{feeding.date}}</td>
              <td>{{feeding.get_meal_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
			<div class="subsection-content">
        <p>{{pokemon.name}} has never been fed 😔</p>
      </div>
      {% endif %}
    </section> 
    <section class="held-items">
      <div class="subsection-title">
        <h2>Held Items</h2>
        <img src="{% static 'images/power-bracer.png' %}" alt="A Power Bracer"/>
        <img src="{% static 'images/lucky-punch.png' %}" alt="A Lucky Punch"/>
        <img src="{% static 'images/focus-sash.png' %}" alt="A Focus Sash"/>
        <img src="{% static 'images/soothe-bell.png' %}" alt="A Soothe Bell"/>
      </div>
      <h3>{{ pokemon.name }}'s Held Items:</h3>
      <div class="subsection-content">
        {% if pokemon.held_items.count %}
          {% for held_item in pokemon.held_items.all %}
            <div class="held-items-container">
              <div 
                class="color-block"
                style="background-color: {{ held_item.color }}"
              ></div>
              <a href="{% url 'held-item-detail' held_item.id %}">
                <p>A {{ held_item.color }} {{ held_item.name }}</p>
              </a>
            </div>
          {% endfor %}
        {% else %}
          <p class="no-items">{{pokemon.name}} doesn't have any items 😞</p>
        {% endif %}
      </div>
      <h3>Available Items</h3>
      <div class="subsection-content">
          {% if held_items.count %}
            {% for held_item in held_items.all %}
              <div class="item-container">
                <div 
                  class="color-block"
                  style="background-color: {{ held_item.color }}"
                ></div>
                <a href="{% url 'held-item-detail' held_item.id %}">
                  <p>A {{ held_item.color }} {{ held_item.name }}</p>
                </a>
                <form action="{% url 'assoc-item' pokemon.id held_item.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn submit">Give item</button>
                </form>
              </div>
            {% endfor %}
          {% else %}
            <p class="all-items">
              {{pokemon.name}} already has all the available items 🥳
            </p>
          {% endif %}
        </div>
      </section>
    </div>

{% endblock %}